<nav class="navbar navbar-inverse sub-navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">CITAS</a>
      </div>
      <div class="collapse navbar-collapse" id="subenlaces">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Perfil<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Cerrar sesion</a></li>
            </ul>
          </li>
          <li><a href="/consultas">Consultar citas</a></li>
          <li><a href="/comprobar">Comprobar citas</a></li>
          <li><a href="/datos">Datos del civil solicitante</a></li>
          <li><a href="#">Pasaportes por tramitar</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row top_30">
      <div class="col-md-8">
        <div id="msg_1" class="alert alert-danger" style="display: none;"></div>
      </div>
      </div>
       <br>
       <br>
       <br>
      <div class="container">
          <div class="row">
            <div class="col-md-8">
              <ol class="breadcrumb">
                  <li><a href="#">
                  <i class="icon icon-user"></i></a></li>
                  <li><a href="../home">Inicio</a></li>
                  <li class="active">
                    <a href="/datos">Datos del solicitante</a>
                  </li>
                </ol>
            </div>
          </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2>Datos del solicitante</h2>
          </div>
        </div>
      </div>
      <br>
      <br>
     <div class="container">
      <div class="row">
        <div class="col-md-8">   
          <form role="form" id="datos">
            <div class="col-md-4">
                <div class="form-group">
                   <label class="control-label">Apellidos:</label>
                   <span class="form-control sin_borde" id="span_rol">PEREZ PEREZ</span>
                </div>
             </div>
             <div class="col-md-4">
                <div class="form-group">
                   <label class="control-label">Nombre(s)</label>
                   <span class="form-control sin_borde" id="span_rol">Marck</span>
                </div>
             </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="form-group">
                     <label class="control-label">Fecha de nacimiento</label>
                     <span class="form-control sin_borde" id="span_nombre">13/10/1985</span>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group">
                     <label class="control-label">Sexo</label>
                     <span class="form-control sin_borde" id="span_paterno">M</span>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group">
                     <label class="control-label">Lugar de nacimiento</label>
                     <span class="form-control sin_borde" id="span_materno">Cordoba,Ver</span>
                  </div>
               </div>
            </div>
         </form>
        </div>
      </div>
      </div>
      <br>
      <br>