<div class="row top_30">
    <div class="col-md-8">
      <div id="msg_1" class="alert alert-danger" style="display: none;"></div>
    </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
          <div class="col-md-8">
              <br>
              <br>
            <ol class="breadcrumb">
                <li><a href="#"><i class="icon icon-user"></i></a></li>
                <li><a href="#">Cerrar sesion</a></li>
              </ol>
          </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Consultar citas</button>
            <button type="button" class="btn btn-default">Comprobar citas</button>
            <button type="button" class="btn btn-default">Datos del civil solicitante</button>
            <button type="button" class="btn btn-default">Pasaportes por tramitar</button>
        </div>
      </div>
    </div>
    </div>
    <br>
    <br>