<nav class="navbar navbar-inverse sub-navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">CITAS</a>
      </div>
      <div class="collapse navbar-collapse" id="subenlaces">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Perfil<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Cerrar sesion</a></li>
            </ul>
          </li>
          <li><a href="/consultas">Consultar citas</a></li>
          <li><a href="/comprobar">Comprobar citas</a></li>
          <li><a href="/datos">Datos del civil solicitante</a></li>
          <li><a href="#">Pasaportes por tramitar</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row top_30">
      <div class="col-md-8">
        <div id="msg_1" class="alert alert-danger" style="display: none;"></div>
      </div>
      </div>
       <br>
       <br>
       <br>
      <div class="container">
          <div class="row">
            <div class="col-md-8">
              <ol class="breadcrumb">
                  <li><a href="#">
                  <i class="icon icon-user"></i></a></li>
                  <li><a href="../home">Inicio</a></li>
                  <li class="active">
                    <a href="/comprobar">Comprobar cita</a>
                  </li>
                </ol>
            </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <h2>Citas</h2>
              </div>
          </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="linea">
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Dd/Mm/AAAA</td>
                        <td>Hh:Mm:Ss</td>
                        <td><a href="/datos">Ver</a></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Dd/Mm/AAAA</td>
                        <td>Hh:Mm:Ss</td>
                        <td><a href="/datos">Ver</a></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
      </div>
      <br>
  