<form role="form">
    <div class="form-group">
      <label class="control-label" for="email-01">Correo electrónico:</label>
      <input class="form-control" id="email-01" placeholder="Correo electrónico" type="text">
    </div>
    <div class="form-group">
      <label class="control-label" for="password-01">Contraseña</label>
      <input class="form-control" id="password-01" placeholder="Contraseña" type="password">
    </div>
    <div class="form-group">
      <label class="control-label" for="file-01">Cargar archivo:</label>
      <input id="file-01" type="file">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Acepto los términos
      </label>
    </div>
    <div class="form-group">
      <textarea class="form-control" rows="3"></textarea>
    </div>
    <button class="btn btn-primary pull-right" type="submit">Enviar</button>
  </form>
